<link rel="import" href="../ui-elements/inputs/date-input.html">
<link rel="import" href="../ui-elements/inputs/number-input.html">
<link rel="import" href="../event/hub.html">
<link rel="import" href="../services/http/request.html">
<dom-module id="loan-onboard">
    <style>
        .submit-button {
            margin-bottom: 20px;
        }
        .fee-content {
            min-height: 447px;
        }
        .phone-content,
        .address-content {
            min-height: 159px;
        }
        .alert {
            text-align: center;
        }
    </style>
    <template>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
        <div class="wrapper wrapper-content">
            <div hidden$="{{!hasAlert}}" id="status-message" class="alert alert-danger"></div>
            <!--Loan Box-->
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Loan</h3>
                </div>
                <div class="ibox-content">
                    <!--Static Info-->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <h5><strong>Loan Number</strong></h5>
                                <input type="text" class="form-control" value="{{loan.referenceNumber::input}}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1">
                            <div class="form-group">
                                <h5><strong>Funding Source</strong></h5>
                                <input type="text" class="form-control" value="{{loan.fundingSource::input}}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1">
                            <div class="form-group">
                                <h5><strong>Purpose</strong></h5>
                                <select name="purpose" class="form-control" value="{{loan.purpose::change}}">
                                    <template is="dom-repeat" items="{{loanPurposes}}" as="purpose">
                                        <option value="{{purpose}}">{{formatPurpose(purpose)}}</option>
                                    </template>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
                    <!--Terms and Fees-->
                    <div class="row">
                        <!--First Column-->
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <div class="row">
                                        <div class="col-lg-1"><h3>Terms</h3></div>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Loan Amount</strong></h5>
                                                <number-input input-value="{{terms.loanAmount}}" input-type="currency"></number-input>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Origination Date</strong></h5>
                                                <date-input input-value="{{terms.originationDate}}"></date-input>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Term</strong></h5>
                                                <number-input input-value="{{terms.term}}"></number-input>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Payment Method</strong></h5>
                                                <select name="paymentMethod" class="form-control" value="{{terms.paymentMethod::change}}">
                                                    <option value="ach">ACH</option>
                                                    <option value="check">Check</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Rate</strong></h5>
                                                <number-input input-value="{{terms.rate}}"></number-input>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Rate Type</strong></h5>
                                                <select name="rateType" class="form-control" value="{{terms.rateType::change}}">
                                                    <option value="percent">Percent</option>
                                                    <option value="factor">Factor</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-3"><h3>Bank Information</h3></div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Routing Number</strong></h5>
                                                <number-input input-value="{{terms.bankInfo.routingNumber}}"></number-input>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Account Number</strong></h5>
                                                <number-input input-value="{{terms.bankInfo.accountNumber}}"></number-input>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <h5><strong>Account Type</strong></h5>
                                                <select name="accountType" class="form-control" value="{{terms.bankInfo.accountType::change}}">
                                                    <option value="checking">Checking</option>
                                                    <option value="savings">Savings</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Second Column-->
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 class="pull-left">Fees</h3>
                                            <button class="btn btn-default pull-right" on-click="addFee">Add Fee</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content fee-content">
                                    <template is="dom-repeat" items="{{fees}}" as="fee">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h5><strong>Name</strong></h5>
                                                <input type="text" class="form-control" value="{{fee.name::input}}">
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>Type</strong></h5>
                                                <select name="feeType" class="form-control" value="{{fee.type::change}}">
                                                    <option value="acg">ACH</option>
                                                    <option value="check">Check</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>Amount</strong></h5>
                                                <number-input input-value="{{fee.amount}}" input-type="currency"></number-input>
                                            </div>
                                            <div class="col-lg-3">
                                                <br>
                                                <br>
                                                <button class="btn btn-danger btn-xs pull-right" on-click="removeFee">Delete</button>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                
                    
            <!--Borrowers-->
            <div class="ibox">
                <div class="ibox-title">
                    <h3>Borrower</h3>
                </div>
                <div class="ibox-content">
                    <!--Static Info-->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <h5><strong>Borrower ID</strong></h5>
                                <input type="text" class="form-control" value="{{borrowers.0.referenceNumber::input}}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1">
                            <div class="form-group">
                                <h5><strong></strong>SSN</h5>
                                <number-input input-value="{{borrowers.0.ssn}}"></number-input>
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1">
                            <div class="form-group">
                                <h5><strong>E-mail</strong></h5>
                                <input type="text" class="form-control" value="{{borrowers.0.email::input}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <h5><strong>First Name</strong></h5>
                                <input type="text" class="form-control" value="{{borrowers.0.firstName::input}}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1">
                            <div class="form-group">
                                <h5><strong></strong>Middle Initial</h5>
                                <input type="text" class="form-control" value="{{borrowers.0.middleInitial::input}}">
                            </div>
                        </div>
                        <div class="col-lg-3 col-lg-offset-1">
                            <div class="form-group">
                                <h5><strong>Last Name</strong></h5>
                                <input type="text" class="form-control" value="{{borrowers.0.lastName::input}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <h5><strong>Date of Birth</strong></h5>
                                <date-input input-value="{{borrowers.0.dateOfBirth}}"></date-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!--Addresses and Phones-->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 class="pull-left">Addresses</h3>
                                            <button class="btn btn-default pull-right" on-click="addAddress">Add Address</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content address-content">
                                    <template is="dom-repeat" items="{{addresses}}" as="address">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h5><strong>Line 1</strong></h5>
                                                <input type="text" class="form-control" value="{{address.line1::input}}">
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>City</strong></h5>
                                                <input type="text" class="form-control" value="{{address.city::input}}">
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>State</strong></h5>
                                                <select name="state" class="form-control" value="{{address.state::change}}">
                                                    <template is="dom-repeat" items="{{states}}" as="state">
                                                        <option value="{{state}}">{{state}}</option>
                                                    </template>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h5><strong>Line 2</strong></h5>
                                                <input type="text" class="form-control" value="{{address.line2::input}}">
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>Zip Code</strong></h5>
                                                <input type="text" class="form-control" value="{{address.zipCode::input}}">
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>Primary</strong></h5>
                                                <div class="radio radio-success">
                                                    <input id="addressRadio" name="addressRadio" type="radio" class="form-control" checked$="{{address.isPrimary::input}}">
                                                    <label for="addressRadio"></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <button class="btn btn-danger btn-xs pull-right" on-click="removeAddress">Delete</button>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h3 class="pull-left">Phones</h3>
                                            <button class="btn btn-default pull-right" on-click="addPhone">Add Phone</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox-content phone-content">
                                    <template is="dom-repeat" items="{{phones}}" as="phone">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h5><strong>Type</strong></h5>
                                                <select name="phoneType" class="form-control" value="{{phone.type::change}}">
                                                    <option value="home">Home</option>
                                                    <option value="mobile">Mobile</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>Number</strong></h5>
                                                <input type="text" class="form-control" value="{{phone.number::input}}">
                                            </div>
                                            <div class="col-lg-3">
                                                <h5><strong>Primary</strong></h5>
                                                <div class="radio radio-success">
                                                    <input id="phoneRadio" name="phoneRadio" type="radio" class="form-control" checked$="{{phone.isPrimary::input}}">
                                                    <label for="phoneRadio"></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <button class="btn btn-danger btn-xs pull-right" on-click="removePhone">Delete</button>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                
            <button class="btn btn-primary pull-right submit-button" on-click="submitForm">Onboard Loan</button>
        </div>
    </template>
    <script>
        var Address = function(isPrimary) {
            this.line1 = "";
            this.line2 = "";
            this.city = "";
            this.state = "AL";
            this.zipCode = "";
            this.isPrimary = isPrimary || false;
        };
        var Phone = function(isPrimary) {
            this.type = "home";
            this.number = "";
            this.isPrimary = isPrimary || false;
        };
        var Fee = function() {
            this.name = "";
            this.type = "ach";
            this.amount;
        };
        var Terms = function() {
            this.loanAmount = "";
            this.originationDate = "";
            this.term = "";
            this.rate = "";
            this.rateType = "percent";
            this.paymentMethod = "ach";
            this.fees = [];
            this.bankInfo = {
                accountType: "checking"
            };
        }
        var Borrower = function(isPrimary) {
            this.referenceNumber = "";
            this.firstName = "";
            this.middleInitial = "";
            this.lastName = "";
            this.dateOfBirth = "";
            this.ssn = "";
            this.email = "";
            this.isPrimary = isPrimary || true;
            this.addresses = [];
            this.phones = [];
        }
        Polymer({
            is: "loan-onboard",
            attached: function() {
                this.hasAlert = false;
                
                this.fees = [{}];
                this.addresses = [new Address(true)];
                this.phones = [new Phone(true)];
                this.borrowers = [new Borrower(true)];
                this.terms = new Terms();
                this.loan = {
                    referenceNumber: "",
                    fundingSource: "",
                    purpose: window.config.onboarding.LoanPurpose[0],
                    borrowers: [{
                        referenceNumber: "",
                        firstName: "",
                        middleInitial: "",
                        lastName: "",
                        dateOfBirth: "",
                        ssn: "",
                        email: "",
                        isPrimary: true,
                        addresses: [{}],
                        phones: [{}]
                    }],
                    terms: {
                        loanAmount: "",
                        originationDate: "",
                        term: "",
                        rate: "",
                        rateType: "",
                        fees: [{}],
                        paymentMethod: "",
                        bankInfo: {}
                    }
                }
                this.states = ["AL", "AK", "AS", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FM", "FL", "GA", "GU", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MH", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "MP", "OH", "OK", "OR", "PW", "PA", "PR", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VI", "VA", "WA", "WV", "WI", "WY"];
                this.loanPurposes = window.config.onboarding.LoanPurpose;
            },
            submitForm: function(e) {
                var self = this;
                self.borrowers[0].addresses = self.addresses;
                self.borrowers[0].phones = self.phones;
                self.terms.fees = self.fees;
                self.loan.terms = self.terms;
                self.loan.borrowers = self.borrowers;
                self.fees.amount = +self.loan.terms.loanAmount.split(',').join('');
                self.loan.terms.loanAmount = +self.loan.terms.loanAmount.split(',').join('');
                self.loan.terms.term = +self.loan.terms.term;
                self.loan.terms.rate = +self.loan.terms.rate;
                // console.log(JSON.stringify([self.loan]));
                self.$.http.post('/onboard', [self.loan], window.config.services.loan, function(data) {
                    self.attached();
                }, function(err) {
                    self.attached();
                    var errResponse = JSON.parse(err.responseText);
                    self.hasAlert = true;
                    self.$['status-message'].innerHTML = errResponse.message;
                    $('html,body').scrollTop(0);
                })
                e.preventDefault();
            },
            addFee: function() {
                this.push("fees", new Fee())
            },
            addAddress: function() {
                this.push("addresses", new Address())
            },
            addPhone: function() {
                this.push("phones", new Phone());
            },
            removeFee: function(e) {
                this.removeModel(e, "fees");
            },
            removePhone: function(e) {
                this.removeModel(e, "phones");
            },
            removeAddress: function(e) {
                this.removeModel(e, "addresses");
            },
            removeModel: function(e, collection) {
                var index = e.model.index;
                this.splice(collection, index, 1);
                e.stopPropagation();
            },
            formatPurpose: function(purpose) {
                var result = "";
                for (var i = 0; i < purpose.length; i++) {
                    var letter = purpose[i];
                    if (letter.toUpperCase() === letter && i !== 0) {
                        result += " ";
                    }
                    result += letter;
                }
                return result;
            }
        })
    </script>
</dom-module>