<link rel="import" href="sidebar.html">
<link rel="import" href="content.html">
<link rel="import" href="../services/http/request.html">
<dom-module id="onboard-v2">
    <style>
        .col-md-4 {
            width: 33.33333333%;
        }
        .sidebar-content .wrapper {
            padding: 20px 10px 40px !important;
        } 
        .sidebar-content .sidebar-panel {
            padding: 20px 20px;
        }
    </style>
    <template>
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar-content">
                    <div class="sidebar-panel col-md-4">
                        <onboard-sidebar current-step-index="{{currentStepIndex}}"></onboard-sidebar>
                    </div>
                    <div class="wrapper wrapper-content col-md-8">
                        <onboard-content current-step-index="{{currentStepIndex}}"></onboard-content>
                    </div>
                </div>
            </div>
        </div>
        
        <http-request id="http">
        </http-request>
    </template>
    <script>
        Polymer({
            is: "onboard-v2",
            attached: function() {
                this.currentStepIndex;
            }
        });
    </script>
</dom-module>