<link rel="import" href="services/http/request.html">
<dom-module id="alloy-config">
    <template>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "alloy-config",
            properties: {
                configReady: {
                    type: Boolean,
                    notify: true,
                    value: false
                },
                configFailed: {
                    type: Boolean,
                    notify: true,
                    value: false
                }
            },
            ready: function () {
                var self = this;

                if (!!window.defaultAppToken) {
                    self.getAlloyConfig();
                    return;
                }
                window.addEventListener("appTokenLoaded", self.getAlloyConfig.bind(self));
            },
            getAlloyConfig: function () {
                var self = this;

                self.getConfigService("alloy", function (data) {
                    //TODO: Remove once setting window.config to portal config
                    window.config = data;
                    for (var config in data) {
                        self[config] = data[config];
                    }
                    self.configReady = true;
                }, function () {
                    self.configFailed = true;
                })
            },
            getConfigService: function (service, callback) {
                this.$.http.get("/" + service, window.config.services.configuration, callback);
            },
            getConfigProperty: function (service, property, callback) {
                this.$.http.get("/" + service + "/" + property, window.config.services.configuration, callback);
            }
        })
    </script>
</dom-module>