<link rel="import" href="/components/event/hub.html">
<dom-module id="decision-engine-change">
    <style>
    </style>
    <template>
        <div class="modal-header">
            <h4>Confirm Change</h4>
        </div>
        <div class="modal-body">
            Any changes to your current code will be left unsaved.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" on-click="submitModalForm">Continue</button>
        </div>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "decision-engine-change",
            properties: {
                changeCode: {
                    type: String,
                    notify: true
                }
            },
            attached: function() {
                this.askConfirmation = false;
            },
            askToConfirm: function() {
                this.askConfirmation = true;
            },
            submitModalForm: function() {
                this.askConfirmation = false;
                this.$.hub.publish("decision-engine:set-expression", this.changeCode);
            }
        });
    </script>
</dom-module>