<link rel="imort" href="/components/event/hub.html">
<link rel="import" href="/components/services/http/request.html">
<link rel="import" href="/components/decision/engine/service.html">
<link rel="import" href="/components/decision/engine/metadata.html">
<dom-module id="decision-engine-preview">
    <style>
        #preview-area {
            height: 450px;
            width: 100%;
            border-color: #EEEEEE;
        }
    </style>
    <template>
        <div class="modal-header">
            <h3>Preview</h3>
        </div>
        <div class="modal-body">
            <expression-metadata data-code="{{previewCode}}"></expression-metadata>
            <br>
            <div>
                <h3>Source Code</h3>
                <textarea id="preview-area"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </template>
    <script>
        Polymer({
            is: "decision-engine-preview",
            properties: {
                previewCode: {
                    type: Object,
                    notify: true
                }
            },
            behaviors: [DecisionEngineBehavior],
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                return function() {
                    $(self).closest("custom-modal")[0].addEventListener("modal-shown", self.onOpen.bind(self));
                }
            },
            onOpen: function() {
                var self = this;
                
                if (self.hidden) { return }
                
                if (!self.mirror) {
                    var mirrorArea = self.querySelector("#preview-area");
                    self.mirror = CodeMirror.fromTextArea(mirrorArea, {
                        mode: "text/typescript",
                        lineNumbers: true,
                        readOnly: "nocursor"
                    });
                    self.mirror.setSize("100%", "450px");
                }
                    
                if (self.previewCode.source) {
                    self.mirror.setValue(self.previewCode.source);
                }
                
            }
        });
    </script>
</dom-module>