<link rel="imort" href="/components/event/hub.html">
<link rel="imort" href="/components/services/http/request.html">
<link rel="import" href="/components/decision/engine/service.html">
<dom-module id="decision-engine-save">
    <style>
        select {
            width: 60px;
            display: inline;
        }
        textarea {
            resize: none;
        }
        #status-message {
            max-height: 110px;
            overflow-y: auto;
        }
    </style>
    <template>
        <div class="modal-header">
            <h3>Save</h3>
        </div>
        <div class="modal-body">
            <div hidden$="{{!alertMessage}}" id="status-message" class="alert alert-danger">{{alertMessage}}</div>
            
            <div class="form-group">
                <h3>Name</h3>
                <input class="form-control" type="text" value="{{expressionName::input}}">
            </div>
            <div class="form-group">
                <h3>Version</h3>
                <select id="majorVersion" class="form-control">
                    <template is="dom-repeat" items="{{majorCount}}">  
                        <option value="{{item}}">{{item}}</option>
                    </template>
                </select> . <select class="form-control" id="minorVersion">
                    <template is="dom-repeat" items="{{minorCount}}">  
                        <option value="{{item}}">{{item}}</option>
                    </template>
                </select>
            </div>
            <div class="form-group">
                <h3>Description</h3>
                <textarea name="" id="" cols="30" rows="3" class="form-control" value="{{expressionDescription::input}}"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" on-click="submitForm">Save</button>
        </div>
        <http-request id="http"></http-request>
        <event-hub id="hub"></event-hub>
    </template>
    <script>
        Polymer({
            is: "decision-engine-save",
            behaviors: [DecisionEngineBehavior],
            properties: {
                currentExpression: {
                    type: Object,
                    notify: true
                },
                editorText: {
                    type: String
                }
            },
            attached: function() {
                var self = this;
                
                self.alertMessage = "";
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init())
                }
            },
            init: function() {
                var self = this;
                
                self.expressionDescription = "";
                self.expressionName = "";
                self.expressionId = null;
                self.majorCount = [];
                self.minorCount = [0];
                
                for (var i = 1; i < 10; i++) {
                    self.push("majorCount", i);
                    self.push("minorCount", i);
                }
                
                return function() {
                    $(self).closest("custom-modal")[0].addEventListener("modal-shown", self.onOpen.bind(self));
                }
            },
            onOpen: function() {
                var self = this;
                
                if (self.hidden) { return }
                
                var version = self.currentExpression.version.split(".");
                var functionName = self.editorText.slice(self.editorText.indexOf("function") + 9, self.editorText.indexOf('('));
                
                self.expressionName = self.currentExpression.name || self.expressionName || functionName;
                self.expressionDescription = self.currentExpression.description || self.expressionDescription;
                self.expressionId = self.currentExpression.id;
                self.$.majorVersion.value = version[0];
                self.$.minorVersion.value = version[1];
            },
            submitForm: function() {
                var self = this;
                var errorFound = false;
                
                self.alertMessage = "";
                
                var inputFields = $("input, textarea", self);
                
                inputFields.each(function() {
                    $(this).removeClass("error");
                });
                
                for (var i = 0; i < inputFields.length; i++) {
                    if (!inputFields[i].value) {
                        errorFound = true;
                        $(inputFields[i]).addClass("error");
                        self.alertMessage = "All fields must be filled."
                    }
                }
                
                if (errorFound) { return }
                var version = self.$.majorVersion.value + "." + self.$.minorVersion.value;
                
                var req = new self.Expression(self.expressionName, version, self.expressionDescription, "draft", self.editorText, self.expressionId)
                
                self.$.http.post("/catalog/save", req, window.config.services.decisionEngine, function(data) {
                    $("#modal", self.domHost)[0].hideModal();
                    self.currentExpression = new self.Expression(data.name, data.version, data.description, data.status, data.code.source, data._id);
                    self.init();
                    self.$.hub.publish("notification:show", { type: "success", message: "Expression saved." });
                    self.$.hub.publish("catalog:refresh");
                }, function(error) {
                    self.alertMessage = error.responseText;
                });
            }
        });
    </script>
</dom-module>