<link rel="import" href="/components/services/http/request.html">
<dom-module id="decision-engine-test">
    <style>
        .modal-body {
            max-height: 650px;
            overflow-y: auto;
        }
        #status-message {
            max-height: 110px;
            overflow-y: auto;
        }
    </style>
    <template>
        <div class="modal-header">
            <h3>Testing</h3>
        </div>
        <div class="modal-body">
            <div hidden$="{{!alertMessage}}" id="status-message" class="alert alert-danger">{{alertMessage}}</div>
            
            <div hidden$="{{paramsLoaded}}">Detecting parameters</div>
            <div hidden$="{{!paramsLoaded}}">                
                <div hidden$="{{hasParams}}">
                    Function does not contain parameters.
                </div>
                <template is="dom-repeat" items="{{editorParams}}" hidden$="{{!editorParams.length}}">
                    <div class="form-group">
                        <label>{{item}}</label>
                        <input class="form-control" type="text" param="{{item}}">
                    </div>    
                </template>
                <div class="output" hidden$="{{!output}}">
                    <h3>Result</h3>
                    <div class="well">{{output}}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button hidden$="{{!paramsLoaded}}" type="button" class="btn btn-primary" on-click="submitModalForm">Test</button>
        </div>
        <http-request id="http"></http-request>
    </template>
    <script>
        Polymer({
            is: "decision-engine-test",
            properties: {
                testCode: {
                    type: String
                },
                expressionInfo: {
                    type: Object
                }
            },
            attached: function() {
                var self = this;
                
                if (window.jQuery) {
                    self.init()();
                } else {
                    window.addEventListener("WebComponentsReady", self.init());
                }
            },
            init: function() {
                var self = this;
                
                self.output = "";
                self.alertMessage = "";
                self.editorParams = [];
                self.ruleCode = "";
                self.paramsLoaded = false;
                
                return function() {
                    var modal = $(self).closest("custom-modal")[0];
                    modal.addEventListener("modal-shown", self.onOpen.bind(self));
                    modal.addEventListener("modal-hidden", self.onClose.bind(self));
                }
            },
            onOpen: function() {
                var self = this;
                console.log(this.getParams() === this.savedParams)
                console.log(this.expressionDidNotChange());
                if (self.hidden) { return }
                if (this.getParams() === this.savedParams && this.expressionDidNotChange()) {
                    self.paramsLoaded = true
                    return
                }
                console.log(this.expressionInfo);
                self.output = "";
                self.alertMessage = "";
                self.editorParams = [];
                self.ruleCode = "";
                self.paramsLoaded = false;
                
                self.$.http.post("/catalog/compile", {source: self.testCode}, window.config.services.decisionEngine, function(data) {
                    var temp = [];
                    for (var i = 0; i < data.parameters.length; i++) {
                        temp.push(data.parameters[i].name);
                    }
                    self.set("editorParams", temp);
                    self.set("ruleCode", data);
                    self.hasParams = !self.editorParams.length ? false : true;
                    self.paramsLoaded = true;
                }, function(error) {
                    self.alertMessage = error.responseText;
                });
            },
            expressionDidNotChange: function() {
                return this.savedExpressionName === this.expressionInfo.name && this.savedExpressionVersion === this.expressionInfo.version;
            },
            onClose: function() {
                if (this.hidden) { return }
                this.savedExpressionName = this.expressionInfo.name;
                this.savedExpressionVersion = this.expressionInfo.version;
                this.savedParams = this.getParams();
                this.output = "";
                this.paramsLoaded = false;
                this.alertMessage = "";
            },
            getParams: function() {
                return this.testCode.slice(this.testCode.indexOf('(') + 1, this.testCode.indexOf(')'));
            },
            submitModalForm: function() {
                var self = this;
                
                var requestParams = {};
                
                $('input', self).each(function() {
                    if (this.value[0] === "{") {
                        var objectParameter = {}
                        var keyProps = this.value.replace(/\{|\}/g, "").split(',');
                        keyProps.forEach(function(keyProp) {
                            var keyPropTuple = keyProp.split(":");
                            objectParameter[keyPropTuple[0].trim()] = keyPropTuple[1].trim();
                        });
                        requestParams[this.param] = objectParameter;
                    } else {
                        requestParams[this.param] = this.value;
                    }
                });

                self.$.http.post("/catalog/test", {rulecode: self.ruleCode, ruleparam: requestParams}, window.config.services.decisionEngine,
                function(data) {
                    self.output = JSON.stringify(data.output);
                }, function(error) {
                    self.alertMessage = error.responseText;
                });
            }
        });
    </script>
</dom-module>