<link rel="import" href="/components/core/services/config.html">
<link rel="import" href="/components/core/services/tenant.html">
<dom-module id="html-import">
    <style>

    </style>
    <template>
        <alloy-config id="config" alloy-configuration="{{configuration}}"></alloy-config>
        <alloy-tenant id="tenant" alloy-tenant="{{tenantConfig}}"></alloy-tenant>
    </template>
    <script>
        Polymer({
            is: "html-import",
            properties: {
                htmlHref: {
                    type: String
                }
            },
            observers: [
                "importComponent(htmlHref, configuration, tenantConfig)"
            ],
            importComponent: function (href, configuration, tenantConfig) {
                if (!href || !configuration || !tenantConfig) { return }
                window.appStoreBase = window.appStoreBase == "APP_STORE_BASE" ? "" : window.appStoreBase;
                var self = this;
                var base = window.appStoreBase || configuration.base;
                var tenant = tenantConfig.name;

                var url = base + tenant + "/" + href;

                self.importHref(url);
            }
        });
    </script>
</dom-module>